* {
    box-sizing: border-box;
}
body{
    align-items: center;
    background-color: #9DAAF2;
/* background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%); */

}

/* INPUT FIELD */
input{
    padding: 8px;
    border-radius: 40px;
    width: 60%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
textarea:focus, input:focus{
    outline: none;
}

#form{
    display:flex;
    justify-content: center;  
}

.search-btn {
    background-color: transparent;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 4px 10px;
}
.checked {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    background-color: white;
}

.userCard{
    padding: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.starred{
    font-size: 1.4rem;
}

.userCard img{
    border: 2px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 4px;
}
.details{
    padding-top: 10px;
}
.options{
    padding: 12px;
}
ul{
    list-style-type: none;
   ;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:black;
}
.profile-link:hover{
    background-color: white;
    color:black;
}
.profile-link{
    background-color: transparent;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 4px 10px;
}


/* SIDE NAV */
#mySidenav div {
    position: absolute;
    left: -70px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav div:hover {
    left: -60px;

  }
  
  .color-1 {
    top: 200px;
    background-color: #19ffabc3;
    /* background-color: rgb(94, 137, 202); */
  }
  
  .color-2 {
    top: 280px;
    background-color: paleturquoise;
  }

  .color-3{
    top:360px;
    background-color: #F4DB7D;
  }
  
  .color-4 {
    top: 440px;
    background-color: #C39EA0;
  }

 
